# Configuration stuff


/*
*.gitignore
!/.gitignore
!/README.md

!/application
/application/*
!/application/views
/application/views/*
!/application/views/invoice_templates
/application/views/invoice_templates/*
!/application/views/invoice_templates/pdf


/application/views/invoice_templates/pdf/*
!/application/views/invoice_templates/pdf/invoicePlane_custom.php


#fonts for pdf
!vendor/
/vendor/*
!vendor/mpdf
/vendor/mpdf/*
!vendor/mpdf/mpdf
/vendor/mpdf/mpdf/*
!vendor/mpdf/mpdf/ttfonts
/vendor/mpdf/mpdf/ttfonts/*
!vendor/mpdf/mpdf/ttfonts/inter*

!vendor/mpdf/mpdf/src
/vendor/mpdf/mpdf/src/*
!vendor/mpdf/mpdf/src/config
/vendor/mpdf/mpdf/src/config/*
!vendor/mpdf/mpdf/src/config/Font*



!/assets

*.DS_Store
