/*
|   =========================================================
|   InvoicePlane
|   Templates Sass Stylesheet
|   =========================================================
*/

$color_base: #3A3A3A;
$color_base_light: lighten($color_base, 15%);
$color_base_lighter: lighten($color_base_light, 15%);
$color_base_dark: darken($color_base, 15%);
$color_base_darker: darken($color_base_dark, 15%);
$color_primary: #375bc8;
$color_red: #ea5340;
$color_green: #77b632;

/*=========================================================*/




body {
  font-family: 'dejavusans' !important;
}

/*=========================================================*/


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: $color_base;
}

body {
  position: relative;
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: $color_base;
  background: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: right;
  margin-bottom: 30px;
}

#invoice-logo {
  margin-top: -1.9cm;
  max-height: 125px;
  text-align: right;
}

.invoice-title {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.invoice-subject {
  width: 90%;
  font-size: 12px;
  margin: 0 0 25px 0;
}

#company {
  width: 55%;
  font-size: 12px;
  margin-bottom: 10px;
}

#client {
  float: left;
  width: 55%;
  margin-right: 5%;
}

.invoice-details {
  text-align: right;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: right;
    width: 40%;
    margin: 0 0 0 auto;
    font-size: 12px;

    td {
      width: auto;
      margin: 0;
      padding: 0 0 0.5em 0;
    }


  }
}

table.item-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  font-size: 12px;

  tr:nth-child(2n-1) td {
    background: #fbfbfb;
  }

  th {
    padding: 10px 15px;
    border-bottom: 1px solid $color_base_light;
    white-space: nowrap;
    text-align: left;

    &.text-right {
      text-align: right;
    }
  }

  td {
    padding: 10px 15px;
  }

  .invoice-sums {
    width: 40%;
    text-align: right;
    background: #fff;
  }
}


.notes {
  font-size: 12px;
}

footer {
  font-size: 12px;
  width: 100%;
  padding: 8px 0;
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-red {
  color: $color_red;
}

.text-green {
  color: $color_green;
}
